$foreground: #FCFFF5
$bg-start: #3E606F
$bg-end: #91AA9D
$text: #193441
$link: #40627C
$border-radius: 20px
$border: #c4cae2

html
  height: auto
  background: $bg-end

body
  margin: 0
  padding: 0
  font-family: "Lucida Grande", Arial, Helvetica, sans-serif
  font-size: 1.3em
  background: -moz-linear-gradient(top, $bg-start 0%, $bg-end 100%)
  background: -webkit-gradient(linear, left top, left bottom, from($bg-start), to($bg-end))
  color: $text
  height: auto

a
  color: $link

.head
  h1
    color: $text
    background: url(../images/goat.png) no-repeat 90% top 
    margin-left: -100px
    font-size: 3.5em
    text-shadow: lighten($text, 30%) 2px 2px 4px
    padding-top: 10px
    margin-top: 0
    text-align: center
  a
    text-decoration: none
  .nav
    padding-top: 10px
    font-size: 14px
    text-align: right
    margin-bottom: 20px

.footer
  margin-top: 20px
  border-top: 1px solid $border
  font-size: 0.6em

.wrap
  margin: 0 auto
  border: 1px solid darken($bg-end, 30%)
  border-top: none
  width: 600px
  background: $foreground
  height: auto
  min-height: 600px
  padding: 0 30px

.content
  line-height: 1.3em

.feed
  .bucket
    border: 1px solid $border
    margin-bottom: 20px
    font-size: 0.6em
    -webkit-border-radius: $border-radius
    -moz-border-radius: $border-radius
    .title
      display: block
      text-decoration: none
      -webkit-border-top-left-radius: $border-radius 
      -webkit-border-top-right-radius: $border-radius 
      -moz-border-top-left-radius: $border-radius 
      -moz-border-top-right-radius: $border-radius 
      text-align: center
      font-size: 1.4em
      font-weight: bold
      background: $bg-end
      padding: 10px
    .items
      padding: 10px
      .item
        img
          float: left
        .message
          padding-left: 10px
          vertical-align: top
          text-decoration: none
          color: $text
        blockquote
          font-family: Courier New, monospace
          margin: 0 45px
          padding: 0


/* imported from scaffold styles */
div.field
  margin-bottom: 10px
  label
    display: block 
  input
    width: 400px
    font-size: 1.0em
  .explanation
    font-size: 0.7em
    img
      display: block
div.actions
  padding-bottom: 30px

#notice 
  color: green

.field_with_errors
  padding: 2px
  background-color: red
  display: table


#error_explanation 
  width: 450px
  border: 2px solid red
  padding: 7px
  padding-bottom: 0
  margin-bottom: 20px
  background-color: #f0f0f0


#error_explanation h2 
  text-align: left
  font-weight: bold
  padding: 5px 5px 5px 15px
  font-size: 12px
  margin: -7px
  margin-bottom: 0px
  background-color: #c00
  color: #fff


#error_explanation ul li 
  font-size: 12px
  list-style: square

