%p GoatHub is a news-reader style way to view your GitHub news feed.  Ever seen your dashboard look like this?
= image_tag "need.png"
%p GoatHub groups by users and projects that you care about and keeps track of what you've read.  You can quickly see who's been a busy little bee since you last checked, without getting buried by the busiest bee.
